.Login {
    align-items: center;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 325px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
    position: relative;
}

.Login.Register {
    height: 400px
}

.RegisterDiv {
    position: absolute;
    bottom: 0;
    width: inherit;
    margin-bottom: 15px;
}

.RegisterLink {
    display: inline;
    color:blue
}

.RegisterLink:hover {
    cursor:pointer;
    text-decoration: underline;
}