.Login {
    align-items: center;
    margin: auto;
    text-align: center;
    width: 350px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.Login.Default {
    height: 340px;
}

.Login.Register {
    height: 410px;
    animation-name: register-open;
    animation-duration: 0.5s;
}

.Login.RegisterLoading {
    height: 450px;
    animation-name: register-loading-open;
    animation-duration: 0.5s;
}

.Login.RegisterLoadingClose {
    height: 410px;
    animation-name: register-loading-close;
    animation-duration: 0.5s;
}

.Login.Loading {
    height: 380px;    
    animation-name: login-loading-open;
    animation-duration: 0.5s;
}

.Login.CloseToLogin {
    height: 340px;    
    animation-name: register-close-to-login;
    animation-duration: 0.5s;
}

.Login.Close {
    height: 340px;    
    animation-name: login-loading-close;
    animation-duration: 0.5s;
}

.RegisterDiv {
    position: absolute;
    bottom: 0;
    width: inherit;
    margin-bottom: 15px;
    background-color: white;
}

.RegisterLink {
    display: inline;
    color:blue
}

.RegisterLink:hover {
    cursor:pointer;
    text-decoration: underline;
}

@keyframes login-loading-open {
    0% {height:340px}
    100% {height:380px}
}

@keyframes login-loading-close {
    0% {height:380px}
    100% {height:340px}
}

@keyframes register-open {
    0% {height:340px}
    100% {height:410px}
}

@keyframes register-close-to-login {
    0% {height:410px}
    100% {height:340px}
}

@keyframes register-loading-open {
    0% {height:410px}
    100% {height:450px}
}

@keyframes register-loading-close {
    0% {height:450px}
    100% {height:410px}
}