.Login {
    align-items: center;
    margin: auto;
    text-align: center;
    width: 360px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.Login.Default {
    height: 360px;
}

.Login.Register {
    height: 410px;
    animation-name: register-open;
    animation-duration: 0.5s;
}

.Login.RegisterLoading {
    height: 480px;
    animation-name: register-loading-open;
    animation-duration: 0.5s;
}

.Login.RegisterLoadingClose {
    height: 440px;
    animation-name: register-loading-close;
    animation-duration: 0.5s;
}

.Login.Loading {
    height: 430px;    
    animation-name: login-loading-open;
    animation-duration: 0.5s;
}

.Login.CloseToLogin {
    height: 370px;    
    animation-name: register-close-to-login;
    animation-duration: 0.5s;
}

.Login.Close {
    height: 370px;    
    animation-name: login-loading-close;
    animation-duration: 0.5s;
}

.RegisterDiv {
    position: absolute;
    bottom: 0;
    width: inherit;
    margin-bottom: 15px;
    background-color: white;
}

@keyframes login-loading-open {
    0% {height:370px}
    100% {height:430px}
}

@keyframes login-loading-close {
    0% {height:430px}
    100% {height:370px}
}

@keyframes register-open {
    0% {height:370px}
    100% {height:430px}
}

@keyframes register-close-to-login {
    0% {height:430px}
    100% {height:350px}
}

@keyframes register-loading-open {
    0% {height:430px}
    100% {height:480px}
}

@keyframes register-loading-close {
    0% {height:480px}
    100% {height:440px}
}