.CharComponent {
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: 1px solid black;
}

.CharComponent:hover {
    background-color: red;
    font-weight: bold;
    color: white;
}